{% extends "bootstrap/index.html" %}

{% block title %}Feed Editor{% endblock %}
{% block h1 %}Feed Editor{% endblock %}

{% block body %}
<section id="connected">
<ul>
    {% for feed in all_feeds %}
    <li><a href="{% url "feed_editor" feed.slug %}">{{feed.title}}</a></li>
    {% endfor %}
</ul>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2> Stream Sources </h2>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
 <script>
  $j = jQuery.noConflict();

  $j(document).ready(init);

  function init()
  {
   var SortParams =
   { connectWith:'.feed-items,#stream-items'
   , dropOnEmpty:true
   , receive: doPaletteMagic
   , update: adjust_sort_key
   , cancel: ".drop-target"
   }

   $j('.feed-items,#stream-items').sortable( SortParams );
  }

  function doPaletteMagic( event , ui )
  {
   if ( ui.sender.is('#stream-items') )
   {
    ui.item
     .clone()
     .addClass('used')
     .appendTo('#stream-items') // put a copy back in the source
    // TODO: fix #palette ordering

    // add kill button
    console.warn( "adding killit" );
    ui.item.append( '<div class="killit" onclick="killit(this);">X</div>');


    // add us to the feed on the server side
    var sid = $(ui.item).attr('streamitem-id');
    var sort_key = $(ui.item).attr('sort-key');
    console.warn( "adding", sid, "to the server with sort_key=", sort_key );
    $.ajax( {
        url: 'add_streamitem/',
        data: { streamitem_id: sid, sort_key: sort_key  },
        success: function(data){
            //gets back a feeditem_id
            $(ui.item).attr( 'feeditem-id', data );
        }
    });
 
   }
   else if ( ui.item.parent().is('#stream-items') )
   {

    var ItemContent = ui.item.text();

    ui.item.remove()
    // remove the killit
    console.warn("removing killit");
    $j('#stream-items li:contains('+ItemContent+')').find('.killit').remove();

    if ( ! isUsed( ItemContent ) )
    {
     $j('#stream-items li:contains('+ItemContent+')')
      .removeClass('used')
      ;
    }

   }

  }

  function isUsed(Content)
  {
   return ($j('.feed-items li:contains('+Content+')').length > 0)
  }

  function killit( buttondiv ) {
    console.warn( $(buttondiv).parent() );
    var p = $(buttondiv).parent() ; // the li
    var gp = p.parent(); // the ul
    // remove x
    p.find(".killit").remove()

    // remove us from the parent list
    var ItemContent = p.text();
    gp.find('li:contains('+ItemContent+')').remove();

    // remove us from the feed on the server side
    var fid = p.attr('feeditem-id');
    console.warn( "removing", fid, "from the server" );
    $.ajax( {
        url: 'remove_feeditem/',
        data: { feeditem_id: fid },
        success: function(){}
    });
  }
  
  function adjust_sort_key( e, ui ) {
      console.warn( "re-keying", e, ui );
      console.warn( ui.item.attr('sort-key') );
      console.warn( ui.item.attr('id') ) ;
      var sk = ui.item.attr('sort-key');
      var above_sk = sk;
      var below_sk = sk;

      var above = ui.item.prev();
      var below = ui.item.next();
      if( above ) {
          above_sk = above.attr('sort-key');
      } else {
          above_sk = below.attr('sort-key') + 1.0 ;
      }
      above_sk = parseFloat( above_sk );
      if( below ) {
          below_sk = below.attr('sort-key');
          } else {
          below_sk = above.attr('sort-key') - 1.0;
      }
      below_sk = parseFloat( below_sk );

      if( below_sk == above_sk ) {
          // we should update these serverside too, but this is an edge case that only exists with bad data to begin with.
          above_sk = parseFloat("" + above_sk + "9") ;
          below_sk = parseFloat("" + below_sk + "1") ;
      }

      var new_sk = ( above_sk + below_sk ) / 2.0 ;
      var fid = ui.item.attr('feeditem-id');
      console.warn( fid, ui.item.text() );

      console.warn( fid, sk, "should be between", below_sk, 'and', above_sk, 'and is infact:', new_sk );
      ui.item.attr('sort-key', new_sk) ;
      $.ajax( {
          url: 'reset_sortkey_for_feeditem/' + fid + '/',
          data: {"sort-key": new_sk.toPrecision(21) },
          success: function(){console.warn("saved", new_sk, "for", fid );}
      });

  }
 </script>

                <ul class="list">
                    <li>source 1</li>
                    {% for source in streams %}
                    <li>{{ source.name }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-4">
                <h2> Stream Items </h2>
                <ul id="stream-items" class="connected list">
                    <li>Item 1
                        <table>
                            <tr>
                                <td> tweet </td><td> bird</td>
                            <tr>
                            <tr>
                                <td colspan=2>some longer text</td>
                            </tr>
                        </table>
                    </li>
                    {% for stream_item in stream_items %}
                    <li streamitem-id="{{stream_item.id}}">{{ stream_item.title }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-4">
                <h2> Feed Items </h2>
                <ul class="connected list no2 feed-items ui-sortable">
                    <li class="highlight drop-target">Right Now</li>
                    {% for feed_item in feed.visible_feeditems %}
                    <li feeditem-id="{{feed_item.id}}" sort-key="{{feed_item.sort_key}}">{{ feed_item.item.title }}
                     <div class="killit" onclick="killit(this);">X</div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
	</section>
{% endblock %}
